.form-login,
.form-register {
    background-color: #091623;
    width: 350px;
    margin: 50px auto;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Poppins", sans-serif;
}


.form-login h3,
.form-register h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
}


.form-login ul,
.form-register ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-login ul li,
.form-register ul li {
    margin-bottom: 15px;
    text-align: left;
}


.form-login label,
.form-register label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}


.form-login input,
.form-register input {
    width: 100%;
    padding: 12px;
    border: 1px solid #3a4758;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    background: transparent;
    color: #ffffff;
    transition: border 0.3s ease;
}

.form-login input::placeholder,
.form-register input::placeholder {
    color: #9ca3af;
    font-size: 13px;
}

.form-login input:focus,
.form-register input:focus {
    border-color: #2B49C1;
}


.form-login a,
.form-register a {
    margin-top: -20px;
    font-size: 13px;
    color: #9ca3af;
    text-decoration: none;
    font-weight: 400;
}

.form-login a:hover,
.form-register a:hover {
    text-decoration: underline;
}


.form-login button,
.form-register button {
    width: 100%;
    padding: 12px;
    background: #ffffff;
    color: #000000;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-login button:hover,
.form-register button:hover {
    background: #f3f4f6;
}


.form-login p,
.form-register p {
    margin: 15px 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}


.social-login {

    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.social-login li {
    flex: 1;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login li:hover {
    background: rgba(255, 255, 255, 0.1);
}