<nav>
    <div class="items-nav">
        <a href="/#home"><img src="../public/logo.png" alt="Logo Nexora"></a>
        <ul>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/#service">Service</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </div>
    <div class="nav-btn">
        <button id="btn-login" onclick="window.location.href='../auth/login.html'">Login</button>
        <button id="btn-singup" onclick="window.location.href='../auth/signup.html'">SignUp</button>
    </div>
</nav>